@import url(//db.onlinewebfonts.com/c/1db6e03026d3742e6cd094584490313b?family=RNHouseSansW01-Regular);
@font-face {font-family: "RNHouseSansW01-Regular"; src: url("//db.onlinewebfonts.com/t/1db6e03026d3742e6cd094584490313b.ttf") format("truetype"); }

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Poppins', sans-serif; */

    font-family:  'RNHouseSansW01-Regular';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  

}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}