.btn-nblue {
  background-color: #086978;
  color: white;

}

.btn-nblue:hover {
  background-color: #00859c;
  color: white;

}

.btn-npurple {
  background-color: #9e016f;
  color: white;

}

.btn-npurple:hover {
  background-color: #B12F8B;
  color: white;

}


.btn-nrose {
  background-color: #6F2C91;
  color: white;

}

.btn-nrose:hover {
  background-color: #794692;
  color: white;

}


.navcolor{
  background-color: #3D1E59;
  color: white;
}