@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Red Hat Mono', monospace;
  background-image: url(../assets/b8.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 80vh;
}
